@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
    --ffamily: 'Space Mono', monospace;
    --font-size: 13px;
    --light-blue: #4B6A9B;
    --dark-blue: #2B3442;
    --blue: #0079FF;
    --btn-hover: #699dd8;
    --grayish-blue: #697C9A;
    --gray: #D7DCEF;
    --light-gray: #F6F8FF;
    --white: #fefefe;
    --basic-white: #fff;
    --devfinder: #222731;
    --error: rgb(238, 0, 0);
    --shadow:  0px 16px 30px -10px rgba(0,0,0,0.2);
    --shadow-active: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ffamily);
}

body {
    font-size: var(--font-size);
    background-color: var(--light-gray);
    color: var(--light-blue);
}

section {
    max-width: 700px;
    margin: auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
    height: 80px;
}

h3 {
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    color: var(--devfinder);
}

#btn-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: var(--grayish-blue);
    width: 70px;
    height: 40px;
    text-transform: uppercase;
}

#btn-change:hover {
    cursor: pointer;
}

.search-bar {
    background-color: var(--white);
    background-image: url(assets/icon-search.svg);
    background-position-x: 15px;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 15px;
    box-shadow: var(--shadow);
}

.search-bar > label {
    flex: 1;
}

#input {
    border: none;
    background: none;
    outline: none;
    color: var(--light-blue);
    height: 100%;
    width: 100%;
    padding-left: 3rem;
    padding-top: 0.3rem;
}

#input::placeholder {
    color: var(--light-blue);
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.search {
    background: var(--blue);
    border-radius: 10px;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: none;
    height: 75%;
    min-width: 87px;
    margin-right: 1rem;
}

.search:hover {
    background: var(--btn-hover);
    cursor: pointer;
}

.error {
    position: absolute;
}

#no-results {
    position: relative;
    color: var(--error);
    font-weight: bold;
    margin-left: 25rem;
}

.card {
    background-color: var(--white);
    border-radius: 15px;
    margin-top: 26px;
    box-shadow: var(--shadow);
}

.content {
    width: 380px;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-header {
    display: flex;
}

#avatar{
    width: 130px;
    height: 130px;
    border-radius: 90px;
}

.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-name h2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-blue);
}

#username {
    color: var(--blue);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 70px;
    margin-left: 20px;
}

#about {
    line-height: 25px;
}

.profile-status {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 10px;
    text-align: center;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85px;
}

.status-title {
    font-size: 11px;
}

.value {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-blue);
}

.profile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-links {
    display: flex;
    flex-direction: column;
}

.second-links {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    margin-top: 0.5rem;
}

.links p {
    margin-left: 14px;
}